/* CSS declarations go here */


body{
  font-family: 'WorkSans-Bold';
  font-size: 14px;
  background-color: white;
}

h1{
    font-family: 'WorkSans-Black';
  font-size: 100px;
}

h2{
  font-size: 60px;


}

h3{
font-size: 30px;
text-align: left;

}

h4{
font-size: 20px;
}

p{
  font-size: 18px;
}

#titreEditer {
    margin-left: 50px;
    margin-top: 150px;
}

#titreAccueil>.lien:hover{
border-bottom: solid 15px black;

}

#header_container{
width: 100%;
height: 100%;
display: inline-flex;

}

#acceuil_container{
display: inline-flex;
float: left;
width: 150px;
height: 10px;
}

#bob{
width: auto;
margin-left: 30px;
float: left;
display: inline-block;

}

#menu{
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30px;

  display: inline-flex;

  justify-content:flex-end;

}
.bt{
    /*background-color: rgb(255, 255, 255);*/
    /*width: 100%;*/
    margin: 20px;
    margin-right: 50px;
    align-content: center;
    height: 22px;

    /*
    border-style: solid;
    border-width: thin;
    border-color: rgb(0, 0, 0);
    */
}



.bt:hover{
    /*background-color: rgba(0, 200, 220,0.3);*/
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    border-bottom: solid 2px black;

}


.bt-big{
    margin-right: 20px;
    align-content: center;
    height: 30px;
}

.bt-big:hover{
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    border-bottom: solid 2px black;
}

.bt p{
    font-family: 'WorkSans-Bold';
    margin: 2px;
    text-align: center;
}


.current {
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    border-bottom: solid 2px black;

}

#main{
    position: absolute;
    background: rgb(243, 243, 240);
    width: calc( 100% - 60px ); /* attention 100% - 2x le top */
    height: calc( 100% - 90px ); /* attention 100% - 2x le top */
    left: 0px;
    top:60px;
    margin-left: 30px; /* attention même margin-left que le top */
    padding: 0px;
    z-index: -1;
    overflow-y: scroll;
}

button {
  font-family: 'WorkSans-Bold';
  font-size: 15px;
  background-color: black;
  color: white;
  margin : 10px;
  width : 120px;
  height: 40px;
  padding : 5px;
  border:0;
}

button:hover{
    background-color: white;
    color: black;
    cursor : pointer;
}


.btInput {
  display: none;

}
