#cache{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0px;
    padding: 0pc;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    top: 0px;
    left: 0px;
}

#boite{
  background-color: purple;
  margin: 0px;
  padding: 0px;
  position: absolute;
  width: 50%;
  height: 50%;
  z-index: 20;
  top: 150px;
  left: 200px;
}

#boiteImage{
  background-color: yellow;
  margin: 0px;
  padding: 0px;
  position: absolute;
  width: 25%;
  height: 39%;
  z-index: 20;
  top: 205px;
  left: 220px;
overflow: hidden;
}



#boiteImage > img{
  background-color: yellow;
  margin: 0px;
  padding: 0px;
  position: absolute;
  height: 100%;
  /* Calculer le rapport de l'image pour un affichage qui convient à mademaoiselle.*/
  z-index: 20;
}

#boiteTitre{
  background-color: yellow;
  margin: 0px;
  padding: 0px;
  position: absolute;
  width: 46%;
  height: 4%;
  z-index: 20;
  top: 165px;
  left: 220px;
}

#boiteLegende{
  background-color: red;
  margin: 0px;
  padding: 0px;
  position: absolute;
  width: calc( 25% - 50px );
  height: 39%;
  z-index: 20;
  top: 205px;
  left: calc( 240px + 25% );
}
