/* CSS declarations go here */
.page {
  width:420px;
  height:600px;
  border: 1px dashed grey;
  float: left;
  margin:15px;
  overflow: hidden;
}

.preview {
  width:200px;
  height:500px;
  border: 1px dashed grey;
  float: left;
}

.title {
  font-size: 25px;
  margin:10px;
}

.element {
  font-size: 30px;
  background-color: purple;
}
