@font-face{
	font-family: 'WorkSans-Black';
	src: url('WorkSans-Black-webfont.eot');
	src: url('WorkSans-Black-webfont') format('eot'),
	     url('WorkSans-Black-webfont.woff') format('woff'),;
}

@font-face{
	font-family: 'WorkSans-Thin';
	src: url('WorkSans-Thin-webfont.eot');
	src: url('WorkSans-Thin-webfont.eot?iefix') format('eot'),
	     url('WorkSans-Thin-webfont.woff') format('woff'),
	     url('WorkSans-Thin-webfont.ttf') format('truetype'),
	     url('WorkSans-Thin-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'WorkSans-Regular';
	src: url('WorkSans-Regular-webfont.eot');
	src: url('WorkSans-Regular-webfont.eot?iefix') format('eot'),
	     url('WorkSans-Regular-webfont.woff') format('woff'),
	     url('WorkSans-Regular-webfont.ttf') format('truetype'),
	     url('WorkSans-Regular-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'WorkSans-Medium';
	src: url('WorkSans-Medium-webfont.eot');
	src: url('WorkSans-Medium-webfont.eot?iefix') format('eot'),
	     url('WorkSans-Medium-webfont.woff') format('woff'),
	     url('WorkSans-Medium-webfont.ttf') format('truetype'),
	     url('WorkSans-Medium-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'WorkSans-Light';
	src: url('WorkSans-Light-webfont.eot');
	src: url('WorkSans-Light-webfont.eot?iefix') format('eot'),
	     url('WorkSans-Light-webfont.woff') format('woff'),
	     url('WorkSans-Light-webfont.ttf') format('truetype'),
	     url('WorkSans-Light-webfont.svg#webfont') format('svg');
}

@font-face{
	font-family: 'WorkSans-Bold';
	src: url('WorkSans-Bold-webfont.eot');
	src: url('WorkSans-Bold-webfont.eot?iefix') format('eot'),
	     url('WorkSans-Bold-webfont.woff') format('woff'),
	     url('WorkSans-Bold-webfont.ttf') format('truetype'),
	     url('WorkSans-Bold-webfont.svg#webfont') format('svg');
}
