#textInfo {
    font-family: cursive;
}

#loadImage {
}


#uploadContainer{

  margin-left: 50px;
  margin-bottom: 20px;
}

.mediaBloc {
    width: 200px;
    height: 200px;
    margin: 3px;
    float: left;
    border-style: solid;
    border-color: purple;
    border-width: thin;
    overflow: hidden;
}

.mediaNumber {
    position: relative;
    z-index: 10;
    top: 0px;
    left: 0px;
    background-color: rgba(150,150,150,0.1);
    font-family: sans-serif;
    font-size: 0.9em;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;

    width: 16px;
    height: 20px;
}

.nameBloc{
    position: relative;
    z-index: 10;
    top: -54px;
    left: 0px;
    background-color: rgba(255,255,255,1);
    font-family: sans-serif;
    font-size: 0.9em;
    margin: 0px;
    padding: 0px;
}


.mediaBloc:hover{
    border-color: rgb(0, 0, 200);
    border-style: dashed;
}
#mediaCollectionContainer {
  height : 600px;
  overflow-y: scroll;
}
#mediaCollection {
    background-color: rgb(200, 200, 200);
    left: 10px;
    width: calc(100% - 30px);
    //height: 100%;
    min-height: 600px;
    padding: 5px;
    margin: 0px;
}

.mediaCollection:after {
    content: '';
    display: block;
    clear: both;
}

.mediaBloc.is-dragging, .mediaBloc.is-positioning-post-drag {
    background: #C90;
    z-index: 2;
}

.packery-drop-placeholder {
    outline: 1px dashed hsla(0, 0%, 0%, 0.5);
    outline-offset: -6px;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
}

.custom-file-upload{
  cursor: pointer;
  font-family: 'WorkSans-Bold';
  font-size: 15px;
  background-color: rgba(230, 65, 28,1);
  color: white;
  height:30px;
  width: 320px;
  padding : 10px;
  border:0;
  display: block;
}

.custom-file-upload:hover {
    color: black;
    background-color: white;
}
